body {
    font-family: sans-serif;
    background-color: #FFFFFF;
    margin-top: 75px;
}


.center {
    text-align: center;
}

.left {
    text-align: left;
}
.name
{
    font-size:1000%;
    font-family:arial;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
    border-radius:200px;
}

