body {
    font-family: sans-serif;
    background-color: #FFFFFF;
    margin-top: 75px;
}


.center {
    text-align: center;
    
}

.left {
    text-align: left;
}
.name1,.name2
{
    font-size:1000%;
    font-family:arial;
    position:fixed;
    top:33%;
    left:20%;
    background:#22bbff;
    color:#FFF;
    }
.name2
{
    background:#000;
    color:#22bbff;
}
.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
    border-radius:200px;
    position:fixed;
    top:30%;
    left:5%;
    
}

